@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* css varibles */
  --coolStuff: #eb5353;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--coolStuff);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}


span {
  font-family: var(--font-yatra_one);
  color: rgb(108, 253, 231)
}