.box {
    height: 150px;
    width: 150px;
    background-color: grey;
    font-family: monospace;
    font-size: 26px;
}


/* position:static - this is the default for all elements */
.static {
    position: static;
    left: 250px;
    top: 0px;
}

/* when we change the position rule to any value that isn't 'static' we then have accesss to four more properties */
.absolute {
    position: absolute;
    left: 250px;
    top: 0px;
    /* bottom: 10px;
    right: 10px; */
}

/* relative works like position abosolute, except it doesn't take the elment outside the normal document flow. The element you apply this rule to will 'start' from where it would have been in position:static */
.relative {
    position: relative;
    left: 250px;
    top: 25px;
}

/* really nice for things like nav bar 
behaves like a static element 
until starts scrolling and hits the 'breakpoint' of top 20;x 

will reserver the intial space that it had in the document flow. 
*/
.sticky {
    position: sticky;
    top: 10px;
}

.fixed {
    position: fixed;
    left: 420px;
    top: 0px;
}


.fancy-box {
    border: red groove 10px;
    position: absolute;
    height: 400px;
    width: 400px;
}

.cooler-box {
    position: absolute;
    border: rgb(33, 253, 253) groove 10px;
    height: 40px;
    width: 40px;
}

/* parent relative, child aboslute will mean that the child will always 'follow' the parent around. */




.tree {
    background-image: url('https://images.unsplash.com/photo-1482148454461-aaedae4b30bb?q=80&w=2940&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
    background-size: cover;
}

.america {
    background-image: url('https://images.unsplash.com/photo-1498855926480-d98e83099315?q=80&w=2940&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
    background-size: cover;
}

.beach {
    background-image: url('https://images.unsplash.com/photo-1500375592092-40eb2168fd21?q=80&w=2788&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
    background-size: cover;
}

.snow {
    background-image: url('https://images.unsplash.com/photo-1418985991508-e47386d96a71?q=80&w=2940&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
    background-size: cover;
}

.flower {
    background-image: url('https://images.unsplash.com/photo-1618468355232-88a329df0182?q=80&w=2940&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
    background-size: cover;
}